.columnTitle {
    font-size: larger;
    background: #98a2ac;
    a{
        color: #721c24;
    }
}
h1{
    margin-top: 20px;
    color: #491217;
    font-family: "Times New Roman", serif;
}
div{
    margin-top: 10px;
}